.root {
  position: relative;

  &::before,
  &::after {
    content: "Экстраверсия";
    position: absolute;
    left: 0;
    bottom: -28px;
    font-size: 16px;
    color: var(--mantine-color-gray-6);
  }

  &::after {
    content: "Интраверсия";
    left: unset;
    right: 0;
  }

  &[data-type="J-P"] {
    &::before {
      content: "Интуиция";
    }

    &::after {
      content: "Сенсорика";
    }
  }

  &[data-type="S-N"] {
    &::before {
      content: "Логика";
    }

    &::after {
      content: "Чувства";
    }
  }

  &[data-type="T-F"] {
    &::before {
      content: "Суждение";
    }

    &::after {
      content: "Восприятие";
    }
  }
}

.track {
  min-height: 14px;
}

.bar {
  background-color: var(--mantine-color-violet-6);

  [data-type="J-P"] & {
    background-color: var(--mantine-color-yellow-7);
  }

  [data-type="S-N"] & {
    background-color: var(--mantine-color-green-7);
  }

  [data-type="T-F"] & {
    background-color: var(--mantine-color-indigo-7);
  }
}

.thumb {
  display: block;
  border-width: 5px;
  border-color: var(--mantine-color-violet-6);
  width: 24px;
  height: 24px;

  [data-type="J-P"] & {
    border-color: var(--mantine-color-yellow-7);
  }

  [data-type="S-N"] & {
    border-color: var(--mantine-color-green-7);
  }

  [data-type="T-F"] & {
    border-color: var(--mantine-color-indigo-7);
  }
}

.label {
  border-radius: 4px;
  background-color: var(--mantine-color-violet-6);

  &::after {
    content: "%";
  }

  [data-value="100"] & {
    right: 0;
  }

  [data-type="J-P"] & {
    background-color: var(--mantine-color-yellow-7);
  }

  [data-type="S-N"] & {
    background-color: var(--mantine-color-green-7);
  }

  [data-type="T-F"] & {
    background-color: var(--mantine-color-indigo-7);
  }
}

.icon {
  position: absolute;
  left: calc(var(--offset) + 28px);
  top: -30px;
  color: var(--mantine-color-gray-6);

  &:has(+ [data-value="100"]) {
    left: unset;
    right: 42px;
  }

  @mixin larger-than 1200px {
    display: none;
  }
}
