.wrapper {
  justify-content: center;
  margin: 0 auto 40px;

  @mixin larger-than 1200px {
    margin: 0 auto 70px;
    max-width: 1145px;
  }
}

.root {
  --title-fz: 24px !important;
  --title-lh: 28px !important;

  position: relative;
  text-align: center;

  @mixin larger-than 1200px {
    --title-fz: 40px !important;
    --title-lh: 47px !important;
  }
}

.hint {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--mantine-color-gray-6);

  @mixin larger-than 1200px {
    font-size: 24px;
    line-height: 24px;
  }
}

.rephrase {
  span {
    align-items: start;
  }
}
