.paper {
  position: relative;
  border-radius: var(--mantine-spacing-lg);
  width: 100%;
  background: var(--mantine-color-violet-0);
  padding-block: var(--mantine-spacing-xl);
  padding-inline: var(--mantine-spacing-md);

  @mixin larger-than 1200px {
    padding-block: var(--mantine-spacing-3xl);
    padding-inline: 153px;
  }
}

.group {
  gap: var(--mantine-spacing-sm);

  @mixin larger-than 1200px {
    gap: var(--mantine-spacing-lg);
  }
}

.image {
  width: var(--mantine-spacing-lg);
  height: var(--mantine-spacing-lg);

  @mixin larger-than 1200px {
    width: var(--mantine-spacing-3xl);
    height: var(--mantine-spacing-3xl);
  }
}

.title {
  font-size: var(--mantine-spacing-lg) !important;

  @mixin larger-than 768px {
    font-size: var(--mantine-spacing-3xl) !important;
  }
}

.text {
  font-size: 16px;

  @mixin larger-than 1024px {
    max-width: 872px;
    font-size: 22px;
  }
}

.controls {
  flex-direction: column;

  @mixin larger-than 768px {
    flex-direction: row;
  }
}
