.wrapper {
  align-items: center;
  margin-bottom: var(--mantine-spacing-lg);
  gap: var(--mantine-spacing-xs);

  @mixin larger-than 976px {
    align-items: flex-start;
    margin-bottom: var(--mantine-spacing-3xl);
    gap: 0;
  }
}

.title {
  margin-bottom: var(--mantine-spacing-xxs);
  font-size: 20px;
  text-align: center;

  @mixin larger-than 976px {
    margin-bottom: var(--mantine-spacing-xl);
    font-size: 24px;
    text-align: left;
  }
}

.skeleton {
  width: 80px;
  height: 44px;

  @mixin larger-than 976px {
    width: 105px;
    height: 47px;
  }
}

.price {
  font-weight: 700;
  font-size: 28px;

  @mixin larger-than 976px {
    font-size: 40px;
  }
}
