.dropdown {
  top: 75px !important;
  overflow: auto;
  border: 0;
  border-radius: 0;
  max-height: calc(100vh - 75px);

  @mixin larger-than 600px {
    top: 58px !important;
    border-bottom-right-radius: var(--mantine-spacing-lg);
    border-bottom-left-radius: var(--mantine-spacing-lg);
    padding: var(--mantine-spacing-5xl);
    box-shadow: var(--mantine-shadow-lg);
    padding-block: calc(var(--mantine-spacing-5xl) - 10px);
    padding-inline: calc(var(--mantine-spacing-5xl) - 24px);
  }
}

[data-hovered] {
  background-color: #fff;
}
