.paper {
  color: var(--mantine-color-dark-9);
  transition: background-color 0.3s;

  &:is(:hover, :focus-visible) {
    @mixin data-color 3;
  }

  @mixin data-color 2;

  @mixin larger-than 600px {
    width: 100%;
  }
}

.items {
  flex-direction: column;

  @mixin larger-than 600px {
    flex-direction: row;
  }
}
