.label {
  margin-bottom: var(--mantine-spacing-xxs);
  font-weight: 600;
  font-size: 14px;

  @mixin larger-than 976px {
    font-size: 16px;
  }
}

.required {
  font-size: 16px;
}

.stackWrapper {
  gap: var(--mantine-spacing-md);
}
