.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &:has(button:only-child) {
    grid-template-columns: 1fr;
  }
}

:is(.prev, .next) {
  display: flex;
  place-self: start start;
  border: none;
  gap: var(--mantine-spacing-3xl);

  svg {
    color: var(--mantine-color-violet-9);
  }

  &:hover {
    background-color: transparent;
  }
}

.next {
  place-self: end end;
}

.text {
  font-weight: 700;
  font-size: 24px;
}

.paper {
  svg {
    width: 20px;
    height: 20px;
  }
}
