.header {
  min-height: rem(70px);
  background-color: var(--mantine-color-body);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: rem(70px);
  padding-inline: var(--mantine-spacing-md);

  @mixin larger-than 768px {
    padding-inline: 64px;
  }
}

[data-mantine-color-scheme] &[data-active] {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-dark-9);
}
