.header {
  min-height: rem(70px);
  background-color: var(--mantine-color-body);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: rem(70px);
  padding-inline: var(--mantine-spacing-md);

  @mixin larger-than 768px {
    padding-inline: 64px;
  }
}

.logo {
  display: flex;
  align-items: center;

  @mixin larger-than 768px {
    margin-right: 52px;

    img {
      width: 200px;
      height: 32px;
    }
  }
}

.link {
  display: block;
  border-radius: var(--mantine-radius-sm);
  padding: rem(8px) rem(12px);
  font-weight: 600;
  font-size: var(--mantine-font-size-lg);
  line-height: 1;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:not(:last-child) {
    margin-right: auto;
  }

  [data-mantine-color-scheme] &[data-active] {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-dark-9);
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}
