.header {
    min-height: rem(70px);
    background-color: var(--mantine-color-body);
    margin-bottom: var(--mantine-spacing-lg);
}

.inner {
    padding-inline: var(--mantine-spacing-md);
    min-height: rem(70px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @mixin larger-than 768px {
        padding-inline: 64px;
    }
}

.logo {
    @mixin larger-than 768px {
        width: 197px;
        height: 32px;
    }
}

.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    [data-mantine-color-scheme] &[data-active] {
        background-color: var(--mantine-color-blue-filled);
        color: var(--mantine-color-white);
    }
}