.dropdown {
  top: 75px !important;
  overflow: auto;
  border: 0;
  border-radius: 0;
  max-height: calc(100vh - 75px);

  @mixin larger-than 600px {
    top: 58px !important;
  }
}

[data-hovered] {
  background-color: #fff;
}
