.wrapper {
  flex-direction: column;
  margin-bottom: var(--mantine-spacing-xl);
  gap: var(--mantine-spacing-sm);

  @mixin larger-than 1200px {
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--mantine-spacing-5xl);

    p {
      position: absolute;
    }

    div:has(input) {
      margin-bottom: 0 !important;
    }
  }
}

.container {
  padding: 0;
  width: 100%;

  form div {
    margin-bottom: 0;
  }

  @mixin larger-than 1200px {
    margin: 70px 0 0;
  }
}
