.root {
    --title-fz: 24px !important;
    --title-lh: 28px !important;

    position: relative;
    text-align: center;
}

.hint {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: var(--mantine-color-gray-6);
    text-align: center;
}

.rephrase {
    span {
        align-items: start;
    }
}

.wrapper [data-label-position] {
    display: flex;
    place-items: center;
}

.wrapper input + svg {
    width: 28px;
    height: 28px;
    color: white;
    position: absolute;
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

input[type='checkbox'] {
    border-color: var(--mantine-color-dark-2);
}
