.wrap {
  @mixin larger-than 1200px {
    margin: auto;
    max-width: 860px;
  }
}

.root {
  --title-fz: 24px !important;
  --title-lh: 28px !important;

  position: relative;
  text-align: center;
}

.hint {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--mantine-color-gray-6);
}

.rephrase {
  span {
    align-items: start;
  }
}

.checkboxWrapper [data-label-position] {
  display: flex;
  place-items: center;

  > div {
    align-items: center;
  }

  input[type="checkbox"] {
    border-color: var(--mantine-color-dark-2);
  }
}

.checkboxWrapper input + svg {
  position: absolute;
  left: 50%;
  top: unset;
  width: 28px;
  height: 28px;
  color: #fff;
  transform: translateX(-50%);
  pointer-events: none;
}
