.container {
  @mixin larger-than 768px {
    margin-block: 80px;
  }
}

.back {
  margin-block: var(--mantine-spacing-sm);

  @mixin larger-than 768px {
    display: none;
  }
}

.text {
  margin-bottom: 60px;
  font-size: 18px;
  text-wrap: balance;

  @mixin larger-than 768px {
    font-size: 22px;
  }
}
