.paper {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
  padding: var(--mantine-spacing-sm);
  text-align: center;
  padding-block: var(--mantine-spacing-md);

  @mixin data-color 1;

  @mixin larger-than 600px {
    margin-bottom: 60px;
    padding: 0 0 0 153px;
    text-align: left;
    padding-block: 0;
  }
}

.title {
  position: relative;
  z-index: 1;

  @mixin larger-than 600px {
    padding-block: 50px;
  }
}

.box {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  &:last-child {
    left: 0;
    right: unset;
  }

  @mixin text-data-color 2;
}
