html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', 'Roboto', 'Arial', sans-serif;
}

#page-content {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

body.page-is-transitioning #page-content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}