.button {
    display: flex;
    padding: 20px 10px;
    border: 0;
    font-weight: 600;
    gap: var(--mantine-spacing-sm);

    &:not(:disabled):is(:hover, :focus-visible) {
        color: var(--mantine-color-white) !important;
        background-color: var(--mantine-color-violet-6);
    }

    &:disabled {
        color: var(--mantine-color-gray-5) !important;
    }

    &.prev::after {
        content: "Назад"
    }

    &.next {
        &::after {
            content: "Вперед";
            order: -1;
        }

        &:only-child::after {
            order: -1;
        }
    }
}